* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 90%;

  @media only screen and (max-width: 1024px) {
    font-size: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
}

.header-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #3700b3;
  display: flex;
  justify-content: center;
}

.body-content {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 800px;
}
